:root {
    --dark-gray: rgb(30, 30, 30);
    --near-white: rgb(248,248,248);
    --off-white: rgb(215, 221, 223);
    --accent: rgb(80, 154, 189);
    --card-bg: rgb(80,80,80);
}

.Card {
    width: 100%;
    background: var(--card-bg);
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 8px hsl(0deg 0% 0% / 0.38);
    border-radius: 8px;

}

.Card-button {
    padding: 1rem;
    border: 2px solid var(--near-white);
    text-decoration: none;
    color: var(--near-white);
}

.Card-button:hover {
    border: 2px solid var(--accent);
    color: var(--accent)
}

   
.Card-image {
    object-fit: cover;
    width: 100%;
    border-radius: 8px 8px 0 0;
    flex: 1;
    padding: 1rem;
    background-color: var(--card-bg);
}

.Card-info {
    padding: 1.5rem;
    padding-bottom: 2.5rem;
    color: var(--near-white);

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 0.8rem;

    @media screen and (min-width: 600px) {
        font-size: 1rem;
    }


    h1 {
        margin: 0;
    }
}

.Card-links {
    display: flex;
    gap: 8px;
}

// Alt style of card

   
.Tech-stack {
    display: flex;
    gap: 2px;
}

.Tech-tag {
    padding: 0.8rem;
    background-color: var(--accent);
    color: white;
    border-radius: 24px;
    font-size: 0.8rem;
}