:root {
    --dark-gray: rgb(30, 30, 30);
    --near-white: rgb(248,248,248);
    --accent: rgb(80, 154, 189);
}

.Card {
    width: 100%;
    background: rgb(80, 80, 80);
    // border: 5px solid var(--near-white);

    

    display: flex;
    flex-direction: column;
    
    @media screen and (min-width: 800px) {
        flex-direction: row;
        height: 50vh;
        // border: none;
    }

    .Card-button {
        padding: 1rem;
        border: 2px solid var(--near-white);
        text-decoration: none;
        color: var(--near-white);
    }

    .Card-button:hover {
        border: 2px solid var(--accent);
        color: var(--accent)
    }
}

   
.Card-image {
    object-fit: cover;
    width: 100%;
    
    @media screen and (min-width: 800px) {
        width: 60%;
    }
}

.Card-info {
    padding: 1.5rem;
    padding-bottom: 2.5rem;
    color: var(--near-white);

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 0.8rem;

    @media screen and (min-width: 600px) {
        font-size: 1rem;
    }

    @media screen and (min-width: 800px) {
        width: 40%;
        padding: 2rem;
    }
}

.Card-links {
    display: flex;
    gap: 8px;
}

// Alt style of card

.Card-flip {
    width: 100%;
    background: var(--near-white);
    // border: 5px solid var(--dark-gray);


    display: flex;
    flex-direction: column;
    
    @media screen and (min-width: 800px) {
        flex-direction: row-reverse;
        height: 50vh;
        // border: none;
    }

    .Card-button {
        padding: 1rem;
        border: 2px solid var(--dark-gray);
        text-decoration: none;
        color: var(--dark-gray);
    }

    .Card-button:hover {
        border: 2px solid var(--accent);
        color: var(--accent)
    }

    .Card-info {
        color: var(--dark-gray);
    }
}
   