:root {
    --dark-gray: rgb(30, 30, 30);
    --near-white: rgb(248,248,248);
    --off-white: rgb(215, 221, 223);
    --accent: rgb(80, 154, 189);
    --card-bg: rgb(80,80,80);
}

.Projects {
    width: 100%;
    margin: 32px 0;
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
    padding: 0 5%;

    @media screen and (min-width:600px){
        padding: 0 15vw;
    }
    @media screen and (min-width:800px){
        grid-template-columns: 1fr 1fr;
        padding: 0 5vw;
    }
    @media screen and (min-width:1200px){
        grid-template-columns: 1fr 1fr 1fr;
    }
}